DB_TYPE = mysql
DB_HOST = fetch-mysql-do-user-3810618-0.b.db.ondigitalocean.com
DB_PORT = 25060
DB_USER = doadmin
DB_PASSWORD = t70p8mta2qz5dqmf
DB_NAME = pos-middleware
JWT_SECRET="secretKey"
SALT=akl39hj
