<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<style type="text/css">
@font-face {
	font-family: TheSansPlain;
	src: url(<%-dataSrc%>);
}
body { font-family: 'TheSansPlain'; font-size: 53.7px; }
</style>
</head>
<body>
	<div style="margin: 230px 0">	
	<div style="text-align: center">
		<span id="_29.1" style=" font-family:TheSansPlain; font-size:27.1px; color:#000000">LAST WILL AND TESTAMENT OF</span>
	</div>
	<div  id="_336:434" style="text-align: center">
		<span id="_46.3" style=" font-family:TheSansPlain; font-size:37.3px; color:#000000"><%= user.full_legal_name %></span>
	</div>	
	</div>
	<div  style="margin-left: 20mm; margin-right: 20mm; background-color: #efeeef;">
		<div style="margin: 5mm; padding: 5mm 0mm; width: 615px;">
			<p style="font-family:TheSansPlain; font-size:17px; color:#000000; margin-top: 0;font-weight:bold;">Please note the following:</p>
			<p  style=" font-family:TheSansPlain; font-size:17px; color:#000000; margin-bottom: 0;">
				1. Please print<br> 
				2. Sign it before two(2) withnesses (These 2 witnesses must be of sound mind, be<br>
				above the age of 21 years old, and must not be beneficiaries under the Will).<br>
				3. Store it in a safe location. We recommend a safe deposit box.<br>
				4. Consider notifying the Will Registry that your Will has been made.<br>
				5. Inform your executors of their role and the location of the Will.<br>
			</p>	
		</div>
	</div>
</body>
</html>	